<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.devoxx"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.NFC"/>

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false"/>
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <application
        android:name="com.devoxx.MainApplication_"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="${applicationLabel}"
        android:theme="@style/AppTheme"
        tools:node="replace"
        tools:replace="android:label">
        <activity
            android:name=".android.activity.SelectorActivity_"
            android:label="${applicationLabel}"
            android:launchMode="singleTop"
            android:theme="@style/SelectorTheme"
            tools:node="replace"
            tools:replace="android:label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <action android:name="android.intent.action.VIEW"/>
                <data
                    android:host="main"
                    android:scheme="mydevoxx"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".android.activity.MainActivity_"
            android:launchMode="singleTask"
            android:theme="@style/MainTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan"/>
        <activity
            android:name=".android.activity.RegisterUserActivity_"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name=".android.activity.TalkDetailsHostActivity_"
            android:launchMode="singleTask"
            android:theme="@style/TalkDetailsTheme"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".android.activity.SpeakerDetailsHostActivity_"
            android:launchMode="singleTask"
            android:theme="@style/SpeakerDetailsTheme"/>

        <activity
            android:name="com.devoxx.android.activity.AboutActivity_"
            android:theme="@style/AboutTheme"/>

        <activity
            android:name="com.devoxx.android.activity.SettingsActivity_"/>

        <activity
            android:name="io.scalac.scanner.BarcodeCaptureActivity"/>

        <receiver
            android:name=".android.receiver.AlarmReceiver_"
            android:enabled="true"
            android:exported="false"/>
        <receiver
            android:name=".android.receiver.AppUpdatedReceiver_"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED"/>

                <data
                    android:path="com.devoxx"
                    android:scheme="package"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".android.receiver.BootReceiver_"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".android.receiver.TimezoneReceiver_"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>

        <!-- Android Wear Service Listener -->
        <service android:name=".android.service.WearService_">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER"/>
            </intent-filter>
        </service>


        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${mapKey}"
            tools:node="replace"
            tools:replace="android:value"/>
        <meta-data
            android:name="com.google.android.wearable.beta.app"
            android:resource="@xml/wearable_app_desc"/>
    </application>

</manifest>
